
#bodyMainMovie{
    position: relative;
    overflow: hidden;
}

#portadaMainMovie{
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
}

.textPortadaMainMovie{
    opacity: 50%;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--black);
    color: var(--white);
    min-height: 30%;
    width: 80%;
    border-radius: 0px 100px 0px 0px;
-webkit-border-radius: 0px 100px 0px 0px;
-moz-border-radius: 0px 100px 0px 0px;

    animation: bajaOpacity 300ms ease-in;
    animation-fill-mode: forwards;

}

.titlePortada{
    font-size: 40px;
}

.textPortada{
    font-size: 20px;
}

#portadaMainMovie:hover .textPortadaMainMovie{
    animation: cambiaOpacityPortada 1s ease;
    animation-fill-mode: forwards;
}

@keyframes cambiaOpacityPortada{
    100%{
        opacity: 80%;
        box-shadow: 10px 10px 63px 43px rgba(235,235,235,0.75);
-webkit-box-shadow: 10px 10px 63px 43px rgba(235,235,235,0.75);
-moz-box-shadow: 10px 10px 63px 43px rgba(235,235,235,0.75);
background-color: var(--white);
color: var(--black);
    }
}

@keyframes bajaOpacity{
    from{
        background-color: var(--white);
color: var(--black);
        opacity: 80%;
        box-shadow: 10px 10px 63px 43px rgba(235,235,235,0.75);
-webkit-box-shadow: 10px 10px 63px 43px rgba(235,235,235,0.75);
-moz-box-shadow: 10px 10px 63px 43px rgba(235,235,235,0.75);
    }
    to{
        opacity: 50%;
        box-shadow: none;
    }
}
