@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

.titleFont { /*Títulos*/
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textFont { /*Textos */
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.subFont { /*Subtítulos*/
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
    --orange:#F03C02;
    --red:#B9030F;
    --red-bold:#A30006;
    --grey:#E1E3DB;
    --white:#EBEBEB;
    --black:#161917;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}